.container-fluid {
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

.first-screen {
    background: url(./../../images/screen1.png) no-repeat;
    text-align: center;
	background-size: cover;
    max-width: 100%;
    min-height: 100%;
    position: relative;
    max-width: 100%;
    min-height: 484px;
	
	position: relative;
    z-index: -1;
    top: 4px;
    border-radius: 33px;
}
.bg{
    background: url(./../../images/bg.png)no-repeat;
    width: 100%;
    height: 100%;
    background-size:cover;
}
.first-screen-text-position{

}
.first-screen-text-position p:first-child{
	padding-top:270px;
}
.first-screen-text-heading
{
    font-size: 24px;
    font-family: "Bahnschrift";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: black;
}


.first-screen-text
{
    font-size: 21px;
    font-family: "Bahnschrift";
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0px;
    color: black;
}

.btn-selfie {
    border-radius: 20px !important;
    background-color: #483d8b;
    border-color: #483d8b;
    font-size: 20px !important;
    color:#fff !important;
    padding: 10px 45px !important;
    font-family:"Bahnschrift";
    line-height: 1.6;
  }
  
  .btn:disabled {
    cursor: no-drop;
    background-color: grey;
    border-color: grey;
  }

  .webcams {
   display: flex;
    /* align-items: center; */
    min-height: 100%;
    justify-content: flex-start;
  }

.app-container{
    width: 100%;
    min-height: 600px;
    background: url(./../../images/bg.png)no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.top-img-resp{
    width: 100%;

}
.top-img-resp {
    display: flex;
    justify-content: center;
    height: 400px; /* or other desired height */
    overflow: hidden;

   
}
.top-img-resp>img {
    flex: none; /* keep aspect ratio */
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
  }
  .loading {
    overflow: hidden;   
  }
  
  /* Anytime the body has the loading class, our
   modal element will be visible */
  .loading .modal {
    display: block;
  }
  
.parent {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.frame-container{
    background: url(./../../images/mobileframe.png) no-repeat;
    min-height: 400px;
    height: auto;
    background-size: 50%;
    background-color: transparent;
}

.inner-content{
    width: 100%;
    height: 800px;;
}


.canvas-box {
    width: 640px;
    height : 525px
}

.mobile-bg {
    background:url(./../../images/mobileframe.png) no-repeat;
	text-align: center;
    background-size: cover;
    max-width: 100%;
	min-height: 488px;
	max-height: 488px;
	position: relative;
    top: -5px;
}
.mobile-bg .webcams video{
    position: relative;
    top: 6px;
    left: 13px;
    min-height: 474px;
    z-index: -1;
    /* flex: 0.5; */
    width: auto;
}
.white-bg{
	background: #fff;
    border-radius: 38px;
    max-width: 996px;
    position: relative;
    z-index: 1;
    min-height: 472px;
    box-sizing: border-box;
    max-height: 483px;
	margin:0 auto;
}
.row{
	margin:0;
}
.SelfieSteps-root-1{
	width:100% !important;
}
.padding-top-bottom{
	padding:180px 0 60px 0;
}
.selfi-btn-position{
	position: absolute;
    z-index: 9;
    width: 386px;
}

.grey-bg {
    background: #000;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    margin: 13px 0 0 14px;
    min-width: 119px;
    align-items: center;
}

.btn {
	cursor: pointer;
}

button.capture {
    width: 70px;
    height: 70px;
	border-radius: 50%;
	background: #fff;
	border: none;
}