.canvas-container {
    padding: 89px;
  }
  
  .frame-button{
      width: 130px;
  }
  
  .frame-button >img{
      height: 160px;
      width: 130px;
      padding: 10px 0;
  }
  
  .frames-box{
      overflow-y: scroll;
      height: 300px;
  }
  
  
  /****** screen 4 */
  .div-label{
      text-align: left;
  }
  .text-input {
    
    border-radius: 8px;
    
  }
  