.MuiStepIcon-root-60.MuiStepIcon-active-62 {
    color: #20bf7a !important;
}

.MuiPaper-root-10 {
 background: transparent !important;
}
.MuiStepLabel-label-52 {
color: #fff !important;
}

.MuiStepIcon-root-60.MuiStepIcon-completed-63
{
    color: green !important;
}